[Desktop Entry]
Version=1.0
Type=Application
Name=Cat Robot System
Comment=ROS2 + Roomba + LiDAR + CAT UI
Exec=/bin/bash -lc "$HOME/cat-iot-robot-ui/run.sh"
Terminal=true
Icon=/home/user/cat-iot-robot-ui/icon/cat_robot.png
Categories=Development;
StartupNotify=true